<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新闻管理系统</title>
</head>
<body>

<div>
    <form method="post" action="/user/update">
        <table width="400" border="1" align="center">
            <caption>修改用户信息</caption>
            <input type="button" class="btn"  value="返回" onclick="javascript:history.go(-1);"/>
            <tr>
                <td colspan="2"><input type="hidden" name="userID" th:value="${user.userID}"></td>
            </tr>
            <tr>
                <td>用户邮箱</td>
                <td><input name="Email" th:value="${user.email}"></td>
            </tr>
            <tr>
                <td>用户性别</td>
                <td><input name="sex" th:value="${user.sex}"></td>
            </tr>
            <tr>
                <td>用户名字</td>
                <td><input name="userName" th:value="${user.userName}"></td>
            </tr>
            <tr>
                <td>用户密码</td>
                <td><input name="userPassword" th:value="${user.userPassword}"></td>
            </tr>
                <td colspan="2" align="right">
                    <input type="submit" value="保存">
                </td>
            </tr>

        </table>
</div>
</body>
</html>