<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>新闻管理系统</title>
</head>
<body>
    <div th:replace="common/head::titleInfo"></div>

    <div>
        <form method="get" action="/student/list">
            <div style="margin-left: 200px;">
                <a href="/student/add">添加</a>
                <select name="klassInfoId">
                <option value="-1">全部</option>
                <option th:each="k:${klassList}" th:value="${k.id}" th:text="${k.name}"></option>
            </select>
                <input type="submit" value="查询">
            </div>
        </form>
        <table width="80%" border="1" align="center">
            <caption>学生信息管理</caption>
            <tr>
                <th>编号</th>
                <th>班级</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>操作</th>
            </tr>
            <tr th:each="s : ${list}">
                <td th:text="${s.id}"></td>
                <td th:text="${s.klassInfoName}"></td>
                <td th:text="${s.name}"></td>
                <td th:text="${s.age}"></td>
                <td>
                    <a th:href="@{'/student/del/'+${s.id}}">删除</a>
                    <a th:href="@{'/student/update/'+${s.id}}">修改</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>